<!DOCTYPE html>
<html lang="sv" prefix="og: http://ogp.me/ns#">    
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <meta property="og:title" content="Intro" />
        <meta property="og:type" content="introduction.roger hurtig" />
        <meta property="og:url" content="adress...lägg till senare" />
        <meta property="og:image" content="img/AvatarCuster.jpg" />
        
        <meta name="description" content="Webbsida för examination1">
     
        <meta name="robots" content="index, follow">

        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/style.css">

        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">

        <title>{{ page.title }} | Roger</title>
        <link type="text/plain" rel="author" href="humans.txt" />
    </head>
