<body>
<div id="wrapper">
    <header>
        <a class="logo" href="../../../index.html">INTRO</a>   
    </header>

    <nav>
        <div class="navbar">
            <div class="dropdown">
                <button class="dropbtn"><b>Meny</b> 
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="../../../blog/index.html">Blogg</a>
                    <a href="../../../page2/index.html">Bloggposter</a>
                </div>
            </div>
        </div>
    </nav>
    
<main>
    
    <div class="main">